.left-menu button {
    text-align: left;
    font-weight: bold;
    color: #333333;
}

.left-menu a:hover {
    text-decoration: none;
}

.left-menu {
    width: 10em;
    min-width: 10em;
    max-width: 10em;
}

.codeblock>pre {
    margin-top: 0 !important;
}