[Unit]	
Description=velivole geodata for react-layers

[Service]
Type=simple
WorkingDirectory=/home/velivole/geojson-vt-server
ExecStart=/usr/bin/node --max-old-space-size=2560 geodata.min
Restart=always
RestartSec=10
SyslogIdentifier=geodata
SyslogFacility=local0

[Install]
WantedBy=default.target
